.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/
yarn.lock
package-lock.json

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# Ignore temporary files
package.docker.json
package-lock.docker.json
api.docker.js

# Ignore Python byte code
*.py[cod]

# Ignore tmp/
tmp/

